<%= form_with(model: feature_toggle, local: true) do |form| %>
  <% if feature_toggle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature_toggle.errors.count, "error") %> prohibited this feature_toggle from being saved:</h2>

      <ul>
      <% feature_toggle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :feature_toggle_name %>
  </div>

  <div class="field">
    <%= form.label :toggle_status %>
    <%= form.text_field :toggle_status, id: :feature_toggle_toggle_status %>
  </div>

  <div class="field">
    <%= form.label :toggle_percentage %>
    <%= form.text_field :toggle_percentage, id: :feature_toggle_toggle_percentage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
